*, *::after, *::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: a;
    src: url(fonts/Overpass-Light.ttf);
}
@font-face {
    font-family: b;
    src: url(fonts/Overpass-Medium.ttf);
}
@font-face {
    font-family: c;
    src: url(fonts/Overpass-Bold.ttf);
}

:root{
}
body{

}
.main{
    display: flex;

    width: 100vw;
    height: 100vh;
}
/* DASHBOARD BAR */
.one{
    background-color: green;
    height:100%;
    width: 18rem;
    display: flex;
    flex-direction: column;
    padding:2.5rem;
    font-family: c;
}
.dheading{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    /* padding-bottom: 2rem; */
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.dheading img{
    width: 2.5rem;
    margin: 0 0.3rem 0 -0.9rem
}
.dhome div{
    border: solid orange;
    padding:0.6rem;
    margin: 0.5rem 0;
    letter-spacing: 0.3rem;
    cursor: pointer;
}
.dsettings{
    margin-top: 3rem;
}
.dsettings div{
    border: solid orange;
    padding:0.6rem;
    margin: 0.5rem 0;
    letter-spacing: 0.3rem;
    cursor: pointer;
}
/* HEADER TOP BOX + font family*/
.header{
    font-family: c;
    height: 12rem;
    display: flex;
    flex-direction: column;
}
.headertopbox{
    display: flex;
    justify-content: space-between;
    border:solid red;
    width: 100%;
    height:46%;
    padding: 0 1rem;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red;
    width: 38rem;
}
.searchbox img{
    margin-right: 1.3rem;
    width: 2rem;
}
.searchbar{
    border: none;
    border-radius: 25px;
    width: 32rem;
    height: 2.2rem;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid yellow;
    width: 30rem;
}
.alert img{
    cursor: pointer;
    width: 2.8rem;
    margin:0 1rem;
}
.alert .bell{
    width: 1.6rem;
}
/* HEADER BOTTOM BOX */
.headerbottombox{
    height:54%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 3rem;
}
.greeting img{
    cursor: pointer;
    padding:0.3rem;
    border: solid;
    height:100%
}
.greeting{
    display: flex;
    border:solid yellow;
    display: flex;
    align-items: center;
    height: 100%;
    width: 30rem;
}
.greeting p{
    border: solid;
    margin:0 1em;
    font-size: 20px;
    letter-spacing: 2px;
}
.greeting p span{
    font-size:15px
}
.uploader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid;
    height:100%;
    width:30rem;
}
.uploader button{
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 25px;
    font-family: b;
}


















.two{
    display: flex;
    flex-direction: column;
    background-color: pink;
    height: 100%;
    width: 100%;
}
.search{
    background-color: yellow;
    height: 13rem;
}
.bodypage{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 100%;
}
.projects{
    background-color: brown;
    width: 75%;
}
.announcements{
    background-color: purple;
    height: 100%;
    width: 25%;
}
